.pharmacies{
    direction: rtl;
    width: 100%;
    background-color: rgb(212, 212, 211);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.pharmacies h1{
    color: #007BFF;
    margin: 0;
}
.pharmacies img{
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}