.register-select,
button {
  cursor: pointer;
  padding: 10px;
}

.form-container {
  direction: rtl;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container-reg {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-select {
  display: block;
  width: 60%;
  max-width: 220px;
  margin: 10px auto 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
}

.form-group-reg,
h2 {
  margin-bottom: 15px;
}

h2 {
  color: #0e3d2b;
  font-size: 20px;
}

.form-group-reg {
  text-align: right;
}

#file-name,
.custom-file-upload {
  text-align: center;
  margin-top: 10px;
}

.form-group-reg label {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.form-group-reg input,
.form-group-reg select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.profile-pic-reg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  object-fit: cover;
  border: 2px solid #ddd;
}

#image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

#image-preview-container img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #ddd;
}

button {
  width: 100%;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 15px;
}

button:hover {
  background: #0056b3;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: #70f4f875;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.custom-file-upload:hover {
  background-color: #0f7d8165;
}

#file-name {
  display: block;
  font-size: 14px;
  color: #333;
}

@media (max-width: 500px) {
  .container-reg {
    width: 90%;
    max-width: 100%;
  }

  .register-select {
    width: 80%;
  }

  button {
    font-size: 16px;
  }
}
